<head>
    <title>Thoughts</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet">
</head>

{% if latest_thought_list %}

    {% for thought in latest_thought_list %}
        <h2>{{  thought.title  }}</h2>
        <p>{{ thought.thought_text }}</p>
    {% endfor %}

{% else %}
    <p>No Thoughts are available.</p>
{% endif %}
<div class="blank-space"></div>
<p class="link"><a href="{% url 'polls:think' %}">Submit a thought?</a></p>
<div class="blank-space"></div>
<footer>
    <p class="foot">Author: Kabir Menghrajani</p>
    <p class="foot"><a href="mailto:km5qte@virginia.edu">km5qte@virginia.edu</a></p>
</footer>
<style>
    body{
        background-color: aquamarine;
    }
    h2, .link{
        color: navy;
        text-align: center;
        font-size: xx-large;
        font-family: 'Akaya Kanadaka', cursive;
    }
    p{
        color: navy;
        text-align: center;
        font-size: large;
        font-family: 'Akaya Kanadaka', cursive;
    }
    .blank-space{
        height: 50px;
    }
    footer, .foot{
        font-size: x-large;
        width: 100%;
    }
</style>